.calcbtn{
    width: 25%;
    font-size: 50px;
    background:linear-gradient(white,orange);
}
.clearbtn{
    width: 75%;
    font-size: 50px;
    background:linear-gradient(white,orange);
}
.calcbtn:hover,.clearbtn:hover {
    background: linear-gradient(red, yellow);
}